@page "{blogRoute}"
@model ComposerCMS.Web.Models.System.BlogSystem.BlogModel
@{
    ViewData["Title"] = "Blog";
}

<div class="container">
    <h1>@this.Model.Blog.Name</h1>
    <p>@this.Model.Blog.Description</p>

    <table class="table">
        <thead>
            <tr>
                <th colspan="3">Blog posts</th>
            </tr>
        </thead>
        <tbody>

            @foreach (ComposerCMS.Core.Entity.Post post in this.Model.Posts)
            {
                <tr>
                    <td>
                        <a href="@this.Model.RouteMap[post.ID].Url">@post.Title</a>
                    </td>
                    <td>@post.Description</td>
                    <td>@post.DateAdded</td>
                </tr>
            }
        </tbody>
    </table>
</div>